chat_interface/backend_modules/.env
 # Intellij Idea
 .idea/
.idea/workspace.xml
.idea/discord.xml
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
FinGPT_Demo.iml

# node modules
ChatBot-Fin/Extension-ChatBot-Fin/node_modules/
/ChatBot-Fin/chat_server/chat_server/__pycache__

./ChatBot-Fin/chat_server/datascraper/gemma-2-2b-it
.idea/fingpt_rcos.iml

ChatBot-Fin/chat_server/datascraper/cdm_cloned/
ChatBot-Fin/chat_server/datascraper/embeddings.pkl
ChatBot-Fin/chat_server/datascraper/faiss_index.idx

# virtual environment folders
venv/
env/
.venv/

myenv/

# Python bytecode and compiled files
__pycache__/
*.py[cod]

# pip files and packages
pip-log.txt
pip-delete-this-directory.txt
